In [1]:
# Step 1: Import Packages

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
from google.colab import drive

In [3]:
## Step 2: Connect to Google Drive

In [4]:
drive.mount('/content/gdrive/', force_remount = True)

Mounted at /content/gdrive/

In [5]:
## Step 3: Read File

In [6]:
df = pd.read_csv('/content/gdrive/MyDrive/ECON441B/fraudTest.csv')
df.head()

,Unnamed: 0,trans_date_trans_time,cc_num,merchant,category,amt,first,last,gender,street,...,lat,long,city_pop,job,dob,trans_num,unix_time,merch_lat,merch_long,is_fraud
0,0,2020-06-21 12:14:25,2291163933867244,fraud_Kirlin and Sons,personal_care,2.86,Jeff,Elliott,M,351 Darlene Green,...,33.9659,-80.9355,333497,Mechanical engineer,1968-03-19,2da90c7d74bd46a0caf3777415b3ebd3,1371816865,33.986391,-81.200714,0
1,1,2020-06-21 12:14:33,3573030041201292,fraud_Sporer-Keebler,personal_care,29.84,Joanne,Williams,F,3638 Marsh Union,...,40.3207,-110.4360,302,"Sales professional, IT",1990-01-17,324cc204407e99f51b0d6ca0055005e7,1371816873,39.450498,-109.960431,0
2,2,2020-06-21 12:14:53,3598215285024754,"fraud_Swaniawski, Nitzsche and Welch",health_fitness,41.28,Ashley,Lopez,F,9333 Valentine Point,...,40.6729,-73.5365,34496,"Librarian, public",1970-10-21,c81755dbbbea9d5c77f094348a7579be,1371816893,40.495810,-74.196111,0
3,3,2020-06-21 12:15:15,3591919803438423,fraud_Haley Group,misc_pos,60.05,Brian,Williams,M,32941 Krystal Mill Apt. 552,...,28.5697,-80.8191,54767,Set designer,1987-07-25,2159175b9efe66dc301f149d3d5abf8c,1371816915,28.812398,-80.883061,0
4,4,2020-06-21 12:15:17,3526826139003047,fraud_Johnston-Casper,travel,3.19,Nathan,Massey,M,5783 Evan Roads Apt. 465,...,44.2529,-85.0170,1126,Furniture designer,1955-07-06,57ff021bd3f328f8738bb535c302a31b,1371816917,44.959148,-85.884734,0

In [7]:
## Step 4: Select Four Features

In [8]:
df_select = df[["trans_date_trans_time", "category", "amt", "city_pop"]]
df_select.columns

Index(['trans_date_trans_time', 'category', 'amt', 'city_pop'], dtype='object')

In [ ]:
## Step 5: Create Unique Variables from trans_date

In [9]:
type(df_select["trans_date_trans_time"][0])

str

In [10]:
df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

<ipython-input-10-99f721e4ce0f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["trans_date_trans_time"] = pd.to_datetime(df_select["trans_date_trans_time"])

In [11]:
df_select["trans_date_trans_time"]

0        2020-06-21 12:14:25
1        2020-06-21 12:14:33
2        2020-06-21 12:14:53
3        2020-06-21 12:15:15
4        2020-06-21 12:15:17
                 ...
555714   2020-12-31 23:59:07
555715   2020-12-31 23:59:09
555716   2020-12-31 23:59:15
555717   2020-12-31 23:59:24
555718   2020-12-31 23:59:34
Name: trans_date_trans_time, Length: 555719, dtype: datetime64[ns]

In [12]:
df_select["time_var"] = [i.month for i in df_select["trans_date_trans_time"]]

<ipython-input-12-b1a497fe803c>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select["time_var"] = [i.month for i in df_select["trans_date_trans_time"]]

In [14]:
X = pd.get_dummies(df_select, ["category"]).drop(["trans_date_trans_time"], axis = 1)
y = df["is_fraud"]

In [15]:
X.head()

,amt,city_pop,time_var,category_entertainment,category_food_dining,category_gas_transport,category_grocery_net,category_grocery_pos,category_health_fitness,category_home,category_kids_pets,category_misc_net,category_misc_pos,category_personal_care,category_shopping_net,category_shopping_pos,category_travel
0,2.86,333497,6,0,0,0,0,0,0,0,0,0,0,1,0,0,0
1,29.84,302,6,0,0,0,0,0,0,0,0,0,0,1,0,0,0
2,41.28,34496,6,0,0,0,0,0,1,0,0,0,0,0,0,0,0
3,60.05,54767,6,0,0,0,0,0,0,0,0,0,1,0,0,0,0
4,3.19,1126,6,0,0,0,0,0,0,0,0,0,0,0,0,0,1

In [16]:
y.head()

0    0
1    0
2    0
3    0
4    0
Name: is_fraud, dtype: int64

In [ ]:
## Step 6: Oversample the Data

In [18]:
cut = int((len(df_select) * .8) // 1)

X_train = X[:cut]
X_test = X[cut:]
y_train = y[:cut]
y_test = y[cut:]

In [19]:
from collections import Counter
from sklearn.datasets import make_classification
from imblearn.over_sampling import RandomOverSampler

In [20]:
# Randomly over sample
ros = RandomOverSampler(random_state=42)
X_train_ros, y_train_ros= ros.fit_resample(X_train, y_train)
# Check the number of records after over sampling
print(sorted(Counter(y_train_ros).items()))

[(0, 442614), (1, 442614)]

In [ ]:
## Step 7: Train a Logistic Model

In [22]:
from sklearn.linear_model import LogisticRegression

In [23]:
log_reg = LogisticRegression().fit(X_train_ros, y_train_ros)

In [ ]:
## Step 8: False Positive rate of 5%, what threshold shold be used?

In [25]:
# utilized this code from chatGP function
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
import numpy as np

# predict the probabilities of the positive class for the test data
y_prob = log_reg.predict_proba(X_test)[:,1]

# calculate the false positive rate and true positive rate
fp, tp, thresholds = roc_curve(y_test, y_prob)

# find the threshold that corresponds to a false positive rate of 5%
threshold = thresholds[np.argmin(np.abs(fp - 0.05))]

# use this threshold to make predictions on the test data
y_pred = (y_prob > threshold).astype(int)

# create the confusion matrix
conf_matrix = confusion_matrix(y_test, y_pred)
conf_matrix

array([[105928,   5032],
       [    46,    138]])

In [26]:
print("Threshold of", threshold)

Threshold of 0.391768842422578

In [ ]:
## Step 9: If the company makes .02*amt on True transactions and loses -amt for False?

In [39]:
df_select['predict']=log_reg.predict(X)
df_select.head()

<ipython-input-39-963761a79f06>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_select['predict']=log_reg.predict(X)

  trans_date_trans_time        category    amt  city_pop  time_var  predict
0   2020-06-21 12:14:25   personal_care   2.86    333497         6        0
1   2020-06-21 12:14:33   personal_care  29.84       302         6        0
2   2020-06-21 12:14:53  health_fitness  41.28     34496         6        0
3   2020-06-21 12:15:15        misc_pos  60.05     54767         6        0
4   2020-06-21 12:15:17          travel   3.19      1126         6        0

In [33]:
# Define the profit using the prediction, actual, and amt
def profit(df_select):
  profit = 0
  for i in range(len(df_select)):
    if df_select['predict'][i]==1 and df_select['is_fraud'][i]==1:
      profit = profit + 0.02*df_select['amt'][i]
    elif df_select['predict'][i]==0 and df_select['is_fraud'][i]==1:
      profit = profit - df_select['amt'][i]
    else:
      profit = profit
  return profit

In [ ]:
# Potential equation
x1 * np.sum(tp) _ x2 * np.sum(fp) + x3 _ np.sum()

In [ ]:
## Step 10: Using Logistic Regression Lasso to inform you. Would you use the selected features in a trusted prediction model?

In [37]:
reg = LogisticRegression(penalty = 'l1', solver='liblinear').fit(X_train, y_train)

In [38]:
reg.coef_

array([[ 2.36672458e-03, -6.33993685e-07, -5.85591517e-02,
        -2.42919859e+00, -2.52361468e+00, -1.88233779e+00,
        -1.99887278e+00, -7.71676189e-01, -2.48899885e+00,
        -2.72346112e+00, -2.55555463e+00, -7.39430022e-01,
        -2.20081387e+00, -2.20813469e+00, -7.49307663e-01,
        -2.01367937e+00, -6.91321333e+00]])

In [ ]:
## I would use this model because there's little values that have 0